<h1>Fractal and Gulp Toolkit Tests</h1>

<p>This page uses the "page" template, which will get checked for accessibility.</p>

<p>The following <code>&lt;input&gt;</code> tag is missing a label, which should trigger accessibility warnings as described within the Tests page:</p>

<input type="text" class="test-input-missing-label">
